<div class="card">
  <div class="card-body">
    <dl>

      <dt>Title</dt>
      <dd class="title">{{post.title}}</dd>

      <dt>Body:</dt>
      <dd class="body">{{post.body}}</dd>

    </dl>

  </div>
</div>
