
<div class="row">
  <div class="col" *ngIf="post">
    <app-post-details [post]="post"></app-post-details>
  </div>
</div>
<div class="row">
  <div class="col">
    <!-- comments .... -->
  </div>
</div>
