
<!-- .row*2>.col -->

<div class="row">
  <div class="col mb-3">
    <app-search-form (search)="search($event)"></app-search-form>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-posts-list [posts]="results"></app-posts-list>
  </div>
</div>
