<!-- .input-group>input.form-control+.input-group-append>button.btn.btn-outline-secondary{Search} -->

<div class="input-group">

  <input type="text" class="form-control" #queryInput>

  <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="doSearch(queryInput.value)">
      Search
    </button>
  </div>

</div>

