<!-- .cart>.card-body -->

<div class="card">
  <div class="card-body">

    <p class="message" *ngIf="message">{{message}}</p>

    <!-- .form-group>label{Login}+input.login.form-control -->
    <div class="form-group">
      <label for="">Login</label>
      <input type="text" class="login form-control" [(ngModel)]="username">
    </div>

    <!-- .form-group>label{Password}+input[type=password].password.form-control -->
    <div class="form-group">
      <label for="">Password</label>
      <input type="password" class="password form-control" [(ngModel)]="password">
    </div>

    <div class="form-group">
      <input type="checkbox" class="rememberMe" [(ngModel)]="rememberMe">
    </div>

    <!-- .form-group>input[type=button][value="Login"].login-button -->
    <div class="form-group">
      <input type="button" value="Login" class="login-button" (click)="authenticate()">
    </div>

  </div>
</div>
