<!-- .media>.media-body>h5.mt-0{Title}+{Text} -->

<div class="media">
  <div class="media-body">

    <h5 class="mt-0 title" [routerLink]="['/posts/',post.id]">
      {{post.title}}
    </h5>

    <p class="body">
      {{post.body}}
    </p>
  </div>
</div>
